*
    margin: 0
    padding: 0
    box-sizing: border-box

@import ../../node_modules/bootstrap/scss/bootstrap.scss
@import ../../node_modules/bootstrap-icons/font/bootstrap-icons.css
*
    padding: 0px
    margin: 0px
    box-sizing: border-box
@import ./modules/home/_home
@import ./modules/contact/_contact


@import ./_variables
@import ./modules/team/_team