*
    margin: 0
    padding: 0
    box-sizing: border-box

// variable
$darkGreen: #1e4356
$lightGreen: #284e62
// variable
@import ./_variables
    
@import ../../node_modules/bootstrap/scss/bootstrap.scss
@import ../../node_modules/bootstrap-icons/font/bootstrap-icons.css

@import ../sass/modules/_home
@import ../sass/modules/_about
@import ./modules/team/_team
