
    .childe-h-section1
        display: grid
        grid-template-columns: repeat(4 ,20vw )
        grid-template-rows: auto
        
            
        h3
            font-size: 22px
            font-weight: bold
            
        p
            text-align: center
        .card1
            padding: 30px 20px 40px 20px
            transition: 0.5s
            gap: 10px !important
            
            .icon1-h-section1
               width: 50px
               height: 50px
               background-color: #2bafec36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #2bafec
                  font-size: 30px
            &:hover
               border: 1px solid #2bafec
               .icon1-h-section1
                   background-color: #2bafec
                   i
                    color: white
        .card2
            padding: 30px 20px 40px 20px
            transition: 0.5s
            gap: 10px !important
            
            .icon2-h-section1
               width: 50px
               height: 50px
               background-color: #ec722b36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #ec722b
                  font-size: 30px
            &:hover
               border: 1px solid #ec722b
               .icon2-h-section1
                   background-color: #ec722b
                   i
                    color: white
        .card3
            padding: 30px 20px 40px 20px
            transition: 0.5s
            gap: 10px !important
            
            .icon3-h-section1
               width: 50px
               height: 50px
               background-color: #2bec6b36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #2bec6b
                  font-size: 30px
            &:hover
               border: 1px solid #2bec6b
               .icon3-h-section1
                   background-color: #2bec6b
                   i
                    color: white
        .card4
            padding: 30px 20px 40px 20px
            transition: 0.5s
            gap: 10px !important
            
            .icon4-h-section1
               width: 50px
               height: 50px
               background-color: #ec2b2b36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #ec2b2b
                  font-size: 30px
            &:hover
               border: 1px solid #ec2b2b
               .icon4-h-section1
                   background-color: #ec2b2b
                   i
                    color: white





                
        

        
