
    .childe-h-section1
        display: grid
        grid-template-columns: repeat(4 ,20vw )
        grid-template-rows: auto
        gap: 18px 
        h3
            font-size: 22px
            font-weight: bold
            color: #1e4356 !important    
        p
            text-align: center
        .card1
            padding: 30px 10px 40px 10px
            transition: 0.5s
            gap: 10px !important
            border-radius: 5px !important   
            .icon1-h-section1
               width: 50px
               height: 50px
               background-color: #2bafec36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #2bafec
                  font-size: 30px
            &:hover
               border: 1px solid #2bafec
               .icon1-h-section1
                   background-color: #2bafec
                   i
                    color: white
        .card2
            padding: 30px 10px 40px 10px
            transition: 0.5s
            gap: 10px !important
            border-radius: 5px !important
            .icon2-h-section1
               width: 50px
               height: 50px
               background-color: #ec722b36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #ec722b
                  font-size: 30px
            &:hover
               border: 1px solid #ec722b
               .icon2-h-section1
                   background-color: #ec722b
                   i
                    color: white
        .card3
            padding: 30px 10px 40px 10px
            transition: 0.5s
            gap: 10px !important
            border-radius: 5px !important
            .icon3-h-section1
               width: 50px
               height: 50px
               background-color: #2bec6b36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #2bec6b
                  font-size: 30px
            &:hover
               border: 1px solid #2bec6b
               .icon3-h-section1
                   background-color: #2bec6b
                   i
                    color: white
        .card4
            padding: 30px 10px 40px 10px
            transition: 0.5s
            gap: 10px !important
            border-radius: 5px !important
            
            .icon4-h-section1
               width: 50px
               height: 50px
               background-color: #ec2b2b36
               border-radius: 50%
               transition: 0.5s
               i
                  color: #ec2b2b
                  font-size: 30px
            &:hover
               border: 1px solid #ec2b2b
               .icon4-h-section1
                   background-color: #ec2b2b
                   i
                    color: white



    .h-section2
        background-color: #f4f8fb
        padding-top: 50px
        padding-bottom: 50px
        
        .child-h-section2
            width: 80vw 
            gap: 30px

            .container-img-home-section2
                width: 93vw
                height: 50vh

            img
                width: 100% !important
            h3
                color: #1e4356 !important
            .icon-h-section2
                color: #1e435694 !important
    @media  ( max-width: 426px )
        

        .childe-h-section1
            grid-template-columns: 90vw
            grid-template-rows: auto
        
        .child-h-section2

            flex-direction: column !important
            width: 100% !important
            justify-content: unset !important
            padding-inline: 17px
            
            display: block
            img
                width: 90vw !important
            h3
                font-size: 1.75rem
                font-weight: 700

        



            
                




        

            

        







                
        

        
