

    .hovrimg
        width: 100%
        height: 100%
        opacity: 0
        &:hover
            opacity: 1
            background-color: #00000056
    .card-title
        color: #1e4356
    .card-text
        font-size: 14px