header
    margin-bottom: 15vh    
.big-div-carousel
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    height: 80vh
    z-index: 5
    background-image: url(../images/hero-bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    border-bottom-left-radius: 150% 40%
    border-bottom-right-radius: 150% 40%
    position: relative
    &::after
        position: absolute
        content: ''
        background: $darkGreen
        width: 100%
        height: 85vh
        opacity: 0.3
        top: 0
        left: 0
        z-index: -1
        border-bottom-left-radius: 150% 60%
        border-bottom-right-radius: 180% 40%
nav
    background: $darkGreen
    z-index: 5
.header-carousel
    h1
        font-size: 3em
        color: #fff
    p
        color: #fff
.last-footer
    background: $lightGreen
footer
    background: $darkGreen
    .footer-icons
        a
            text-decoration: none
            color:#fff
            width: 35px
            height: 35px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            border: 1px solid #fff
            i
                font-size: 15px
